/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.4s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

/*
=============== 
  Navbar
===============
*/
nav{
  height: 65px;
  width: 100vw;
  background-color: var(--clr-white);
  box-shadow: var(--dark-shadow);
}
.nav-toggle{
  display: none;
}
.nav-center{
  display: flex;
  width: 88%;
  height: 100%;
  max-width: var(--max-width);
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.links{
  display: flex;
  justify-content: space-between;
  width: 370px;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
}
.links a:hover{
  color: var(--clr-primary-8);
}
/* .social-icons{
  display: flex;
  justify-content: space-between;
  width: 150px;
} */
.nav-center .social-icons a{
color: var(--clr-primary-1s);
}
.logo-top{
  cursor: pointer;
}
 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #38b6ff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.cart-toggle{
  border: transparent;
  font-size: 2rem;
  position: relative;
}
.cart-toggle i{
  transition: var(--transition);
}
.cart-toggle i:hover{
  cursor: pointer;
  color: rgb(255, 112, 29);
}

@media screen and (max-width: 750px){
  .links{
    display: none;
  }
  .switch{
    display: none;
  }
  .sidebar .switch{
    display: inline-block;
  }
  
  .nav-toggle{
    display: inline-block;
    position: absolute;
    left:6%;
    top: 3.5%;
    transform: translate(-50%,-50%);
    border: transparent;
    font-size: 30px;
    transition: var(--transition);
    cursor:pointer
  }
  .nav-toggle:hover{
    font-size: 25px;
  }
  .cart-open-container{
    position: absolute;
    top: 1.76%;
    right: 5%;
  }
}

/*
=============== 
    Sidebar
===============
*/
.sidebar{
  /* display: none; */
  top: 0;
  left: -100%;
  position: absolute;
  height: 90%;
  width: 100%;
  background-color: var(--clr-white);
  transition: var(--transition);
  box-shadow: var(--dark-shadow);
  background-color: var(--clr-grey-2);
}
.sidebar-center{
  height: 100%;
  width: 88%;
  position: relative;
  display: grid;
  justify-content: last baseline;
  align-content: space-around;
  margin: 1.5rem auto 0 auto;
}
.sidebar-exit-btn{
  position: absolute;
  display: inline-block;
  right: 4%;
  top: 0;
  /* transform: translateX(-50%,-50%); */
  font-size: 35px;
  cursor: pointer;
  transition: var(--transition);
  color: var(--clr-red-light);
}
.sidebar-exit-btn:hover{
  transform: rotateZ(360deg);
  color: var(--clr-primary-1);
}
.sidebar-center .links{
  display: grid;
  font-size: 32px;
  letter-spacing: var(--spacing);
  justify-content: space-between;
  height: 330px;
  text-transform: capitalize;
  margin-top: 4rem;
} 
.sidebar-center .links a{
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  letter-spacing: 0.5rem;
  width: 90%;
  margin: 0 auto;
}
.sidebar-center .social-icons a{
  color: var(--clr-grey-5);
}
.sb-link{
  display: inline-block;
  transition: all 0.6s ease-in-out;
  position: relative;

}
.sb-link:hover{
  transform: translateX(30px)
}
.sb-link a:hover{
  color: whitesmoke;
}
.sidebar-center .social-icons{
  display: flex;
  font-size: 32px;
  justify-content: space-between;
  /* width: 330px;   */
  transition: var(--transition);
  /* margin: auto 0 auto 8; */
  gap: 0 3.5rem;
}
.sidebar-center .social-icons a:hover{
  color: whitesmoke;
}
@media screen and (min-width: 775px) {
  .sidebar{
    display: none;
  }
}
/*
=============== 
    Cart
===============
*/
.cart{
  position: absolute;
  background-color: var(--clr-white);
  height: 85vh;
  width: 450px;
  top: 0;
  right: -110%;
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}
.close-cart{
  position: absolute;
  right: 5%;
  top: 2%;
}
.close-cart button{
  border: transparent;
  font-size: 2rem;
  color: red;
  cursor: pointer;
}
.close-cart button:hover{
  color: rgb(255, 89, 117);
}
.cart-center{
  height: 100%;
  width: 95%;
  margin-top: 2rem;
}
.cart-items{
  height: 88%;
  width: 100%;
}
.cart-end-total{
  display: flex;
  place-content: center;
  gap: 2rem;
}
.total-items{
  font-size: 1.5rem;
  text-transform: capitalize;
}
.total-cost{
  font-size: 1.5rem;
  text-transform: capitalize;
}
.product{
  display: grid;
  grid-template-columns: auto 1fr auto;
  box-shadow: var(--dark-shadow);
  padding: 1rem 0.75rem;
  border-radius: var(--radius);
}
.product img{
  height: 100px;
  object-fit: cover;
  
}
.product-info a{
  cursor: pointer;
}
.remove-item{
  display: inline-block;
  margin-left: 7rem;
  color: blue;
}
.product-info p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 2rem;
  margin-top: 1rem;
  color: var(--clr-black);
}
.product-price-container{
  display: flex;
  align-items: center;
  column-gap: 2rem;
  justify-content: space-around;
}
.price-count-container{
  display: flex;
}
.price-count-container span{
  display: inline-block;
}
.item-count-container{
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-content:space-evenly;
  margin-top: -1rem;
}
.item-count-container button{
  border: transparent;
  display: inline-block;
  cursor: pointer;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}
.decrease-item-count{
  margin-top: -1rem;
}
.toggle-amount-container{
  position: absolute;
  top: 0;
  right: -50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: rgb(0, 238, 255);
  font-size: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  text-align: center;
  font-weight: 900;
  color: rgb(0, 133, 143);
}

/*
=============== 
    Hero
===============
*/
.hero{
  height: calc(100vh - 65px);
  width: 100vw;
}
.hero-center{
}


/*
=============== 
    Footer
===============
*/
footer{
  width: 100vw;
  height: 250px;
  background-color: black;
  margin-bottom: 0;
}
.footer-center{
  height: 100%;
  width: 100%;
  /* margin-top: 6rem; */
  display: grid;
  justify-content: space-around;
  text-transform: capitalize;
  align-items: center;
}
.footer-center .social-icons{
  display: flex;
  font-size: 24px;
  justify-content: space-between;
  width: 80%;
  max-width: 900px;  
  transition: var(--transition);
  margin: 1.5rem auto 0 auto;
}
.footer-center .social-icons a:hover{
  color: var(--clr-primary-8);
}
.footer-center p{
  margin: 1.75rem;
  text-align: center;
  letter-spacing: 8px;
}
.footer-name:hover{
  color: var(--clr-primary-8); 
  cursor: pointer;
}